# Python.gitignore
# Byte‑compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Images
src/langgraph_projects/level-1/images/
src/langgraph_projects/level-2/images/
src/langgraph_projects/level-3/images/
src/langgraph_projects/level-4/images/
src/langgraph_projects/level-5/images/

# LangGraph local API runtime artifacts (checkpoints, ops, retry counters)
src/langgraph_projects/level-1/.langgraph_api/
src/langgraph_projects/level-2/.langgraph_api/
src/langgraph_projects/level-3/.langgraph_api/
src/langgraph_projects/level-4/.langgraph_api/
src/langgraph_projects/level-5/.langgraph_api/

#DataBase files
src/langgraph_projects/level-1/state_db/
src/langgraph_projects/level-2/state_db/
src/langgraph_projects/level-3/state_db/
src/langgraph_projects/level-4/state_db/
src/langgraph_projects/level-5/state_db/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test: coverage and virtualenv artifacts
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx build
docs/_build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment directories
.env
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# Windows and Mac OS system files
Thumbs.db
.DS_Store
